{% extends "base.html" %}

{% block title %}Tag: {{ tag }} - {{ site_title }}{% endblock %}

{% block meta_tags %}
{% from '_listing_meta_tags.html' import listing_meta_tags with context %}
{{ listing_meta_tags("Tag: " ~ tag ~ " - " ~ site_title) }}
{% endblock %}

{% from '_pagination.html' import pagination %}
{% from '_post_summary.html' import post_summary with context %}

{% block content %}
<div class="tag-page">
    <h1>Posts tagged with "{{ tag }}"</h1>
    {{ pagination(page, total_pages, '/' ~ tag_dir ~ '/' ~ safe_tag ~ '.html', '/' ~ tag_dir ~ '/' ~ safe_tag ~ '/', '.html') }}

    {% if posts %}
    {% for post in posts %}
    {{ post_summary(post) }}
    {% endfor %}
    {% else %}
    <p>No posts with this tag.</p>
    {% endif %}

    {{ pagination(page, total_pages, '/' ~ tag_dir ~ '/' ~ safe_tag ~ '.html', '/' ~ tag_dir ~ '/' ~ safe_tag ~ '/', '.html') }}
</div>
{% endblock %}
